/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
body {
  font-family: fantasy;
	line-height: 1.6;
	color: #3a3a3a;
}

/* =================================
  Base Layout Styles
==================================== */



/* ---- Page class ---- */
.titleHeader{
  text-align: left;
  background-image: url("../images/csprings.png");
  background-size: cover;

}

.companyTitle{
  font-family: "Indie Flower", cursive;
  font-size: 4em;
  text-decoration: none;
  text-shadow: 2px 1px white;
  margin: .5em;
  color: black;

}

.companyContact{
  font-family: "Times New Roman";
  text-shadow: 2px 1px white;
  margin: .5em;
  color: black;

}

.weather{
  height: 50px;
  width: 50px;
}

.options{
  background-color: rgba(161, 188, 251, 0.3);
  color: white;
}

.flexboxImage{
  height: 180px;
  width: 200px;
}

.mainContainer {
  background-color: black;
}
/* ---- Page ID ---- */

/* ---- Page Elements ---- */

footer {
  background-color: lightgrey;
}


/* =================================
  Media Querry
==================================== */

@media{}
