/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
body {
  font-family: fantasy;
	line-height: 1.6;
	color: #3a3a3a;
}

/* =================================
  Base Layout Styles
==================================== */



/* ---- Header class ---- */
.realtyHeader,
.titleHeader{
  background-image: url("../images/csprings.png");
  background-size: cover;
  padding: 1px;

}

.companyTitle{
  font-family: "Indie Flower", cursive;
  font-size: 4em;
  text-decoration: none;
  text-shadow: 2px 1px white;
  margin: .5em;
  color: black;

}

.companyContact{
  font-family: "Times New Roman";
  text-shadow: 2px 1px white;
  margin: .5em;
  color: black;
  text-emphasis: triangle #D55;

}

.weather{
  height: 50px;
  width: 50px;
}

.temp {
  color: white;
  padding-right: 1em;
}

.titlewrapper,
.navbar {
  text-align: center;
  font-size: 20px;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.mainNav {
  list-style-type: none;
  color: white;
  background-color: darkred;
  padding: .5em;
  box-shadow: 5px 5px;
  border-radius: 25%;

}

.navItem {
  padding: .25em;
}

.scrollingMarque{
  font-size: 3em;
  text-align: center;
  color: white;
  font-family: "Times New Roman";
  padding: 2em;
  margin-bottom: 4em;
}

/* ---- Page class ---- */
.options{
  background-color: rgba(161, 188, 251, 0.3);
  color: white;
}

.flexboxImage{
  height: 180px;
  width: 200px;
}

.mainContainer {
  background-color: black;
}
/* ---- Page ID ---- */

/* ---- Page Elements ---- */

footer {
  background-color: lightgrey;
}


/* =================================
  Media Querry
==================================== */

@media{}
