/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
body {
  font-family: fantasy;
	line-height: 1.6;
	color: #3a3a3a;
}

/* =================================
  Base Layout Styles
==================================== */



/* ---- Page class ---- */
.titleHeader{
  text-align: center;
  background-image: url("../images/csprings.png");
  background-size: cover;

}

.companyTitle{
  font-family: "Indie Flower", cursive;
  font-size: 4em;
  text-decoration: none;
  text-shadow: 2px 1px white;
  margin: .5em;
  color: black;

}

.companyContact{
  font-family: "Times New Roman";
  text-shadow: 2px 1px white;
  margin: .5em;
}

.options{
  background-color: gray;
  padding: .5em;
  margin: .5em;
}
/* ---- Page ID ---- */

/* ---- Page Elements ---- */
header{

}


/* =================================
  Media Querry
==================================== */

@media{}
