/*===========================
  Flexbox
===========================*/
.mainContainer,
.titlewrapper,
.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

.options{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  width: 200px;
  height: 400px;
}


/*===========================
  Media Query
===========================*/
@media (min-width: 769px){
  .navbar,
  .mainNav,
  .weatherapi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0;
  }

  .navItem {
    padding: .5em;
  }

}

@media (min-width: 1025) {

  .navItem {
    padding: 1em;
  }

}
